* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=2825);
}

html, body, background, bg, nedbackground {
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
}
nedbuttons {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
}
nedpages {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
    color: yellow;
    padding: 9px 7px;
}
.un {
    background-color: darkorange;
    color: white;
    border-width: 5px;
    border-color: orange;
    border-style: ridge;
}
