* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=2825);
}

html, body, background, bg, nedbackground {
    //background-image: url("http://enjoycss.com/webshots/hB_1.png");
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;	
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    background-repeat: repeat;
}
nedbuttons {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
}
nedpages {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
    color: yellow;
    padding: 9px 7px;
}
.un {
    background-color: darkorange;
    color: white;
    border-width: 4px;
    border-color: orange;
    border-style: ridge;
}
