html, body, background, bg, nedbackground {
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
    border: 4px solid yellow;
}
nedpages {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
    color: yellow;
    padding: 9px 7px;
}
