ul.footer {
    list-style-type: none;
    overflow: hidden;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
}
