#outerCircleText {
  font-style: italic;
  font-weight: bold;
  font-family: 'comic sans ms', verdana, arial;
  color: #000;
  position: absolute;top: 0;left: 0;z-index: 3000;cursor: default;
}
#outerCircleText div {position: relative;}
#outerCircleText div div {position: absolute;top: 0;left: 0;text-align: center;}

