nedpages {
    display: block;
    border: 4px solid yellow;
    border-style: outset;
    background-image: url("http://enjoycss.com/webshots/hB_1.png");
    color: yellow;
    padding: 9px 7px;
    }
nedpages p {
    color: yellow;
    text-align: center;
    font-size: 150%;
    padding: 0px 0px;
    }
nedpages a {
    border: 2px solid yellow;
    border-style: inset;
    background-color: purple;
    color: yellow;
    padding: 3px 3px;
    }
nedpages a:hover {
    display: all;
    padding: 6px 3px;
    }
nedpages a.active {
    border: 2px solid yellow;
    border-style: inset;
    background-color: green;
    color: yellow;
    padding: 3px 3px;
    }
nedpages a.active:hover {
    display: all;
    padding: 6px 3px;
    }
nedface a {
    border-bottom: 1px dashed;
    text-decoration: none
}
