#topright {
    position: fixed;
    top: 0;
    height: 60px;
    width: 135px;
    background: url(https://isaiahpatton.github.io/ned/imgs/ned.jpg) no-repeat;
    text-indent: -999em;
    text-decoration: none;
    background-size: 110px;
}
li {
    float: left;
}
